*.user
*.suo

.idea/
!/.idea/.idea.SmartCAT/.idea/indexLayout.xml

frontend/.coverage/
.nyc_output/

[Bb]in/
[Dd]ebug/
[Rr]elease/
obj/
global.json
TestResults
*.log
*.VisualState.xml
TestResult.xml
/published
*.playlist
*.tss
*.generated.less
node_modules
/frontend/api
/frontend/*/server
/frontend/**/fonts/iconfont
etc/SmartCat.Common.Dev.xml
etc/SmartCat.ModuleHosting.Dev.xml
etc/SmartCat.Web.Dev.xml
.vs/
.vscode/
/tsconfig.*.json
/.cache/
/NUnit/
/logs/
.DS_Store
/tsclientgen/
.gitkeep
allure-results
test-results
junit.xml
/frontend/design-system/components/icon/icons.ts
/frontend/web/node_modules
/frontend/web/.eslintrc.js
/frontend/web/package.json
/frontend/web/.eslint.rc
/frontend/editor/test-results
/frontend/editor/common/icons.ts
/nuget/
buildResult/
/local_env/elastic/
/local_env/mongo/
